@import '../../../../styles/variables/bootstrap';

nav.navbar {
  padding: map-get($spacers, 0);
  background: var(--primary-dark);

  .navbar-brand {
    height: 100%;
    background: var(--primary);
    color: var(--white);
    padding: (map-get($spacers, 1) / 2) map-get($spacers, 2);
    cursor: pointer;
  }

  .navbar-nav {
    color: var(--light);
    .nav-item {
      color: var(--light);
      padding: map-get($spacers, 0) map-get($spacers, 2);
      &.nav-link:hover {
        color: var(--white);
      }
    }
  }
}
